<!doctype html>
<html lang="en">
<head>
    <!-- Meta tags Obrigatórias -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="/css/style.css">

    <title>Login</title>
</head>
<body>
<div class="d-flex justify-content-center align-items-center mt-5">
    <div class="card">

        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
            <li class="nav-item text-center">
                <a class="nav-link active btl" id="pills-home-tab" data-toggle="pill" href="#pills-home" role="tab"
                   aria-controls="pills-home" aria-selected="true">Login</a>
            </li>
            <li class="nav-item text-center">
                <a class="nav-link btr" id="pills-profile-tab" data-toggle="pill" href="#pills-profile" role="tab"
                   aria-controls="pills-profile" aria-selected="false">Registrar-se</a>
            </li>

        </ul>
        <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

                <div class="form px-4 pt-5">
                    <input type="email" name="email" class="form-control" placeholder="E-mail" required>
                    <input type="password" name="password" class="form-control" placeholder="Senha" required>
                    <button class="btn btn-dark btn-block" id="btn-login">Login</button>
                </div>


            </div>
            <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
                <div class="form px-4">
                    <input type="text" name="new-name" class="form-control" placeholder="Nome" required>
                    <input type="email" name="new-email" class="form-control" placeholder="E-mail" required>
                    <input type="password" name="new-password" class="form-control" placeholder="Senha" required>
                    <button class="btn btn-dark btn-block" id="btn-signup">Cadastrar-se</button>
                </div>
            </div>

        </div>


    </div>


</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>



<!-- Modal Success -->
<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Sucesso!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="modalSuccessMessage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>


<!-- Modal Success -->
<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="errorModalLabel">Erro!</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p id="modalErrorMessage">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Fechar</button>
            </div>
        </div>
    </div>
</div>

<script>
    function validarEmail(email) {
        let regex = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return regex.test(email);
    }
</script>

<script>
  document.getElementById('btn-login').addEventListener('click', function () {
    let email = document.getElementsByName('email')[0].value;
    let password = document.getElementsByName('password')[0].value;

    // Validar se os campos estão preenchidos
    if (email === '' || password === '') {
      $('#modalErrorMessage').html('Todos os campos são obrigatórios!');
      $('#errorModal').modal('show');
      return;
    }

    if (!validarEmail(email)) {
      $('#modalErrorMessage').html('E-mail inválido!');
      $('#errorModal').modal('show');
      return;
    }

    let url = '<%= serverBaseUrl %>';

    $.ajax({
      url: '/auth',
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify({
        email: email,
        password: password
      }),
      success: function (data) {
        let token = data.token;
        localStorage.setItem('token', token);
        window.location.href = '/';

      },
      error: function (data) {
            $('#modalErrorMessage').html(data.responseJSON.message);
            $('#errorModal').modal('show');
      }
    });
  });
</script>

<script>
  document.getElementById('btn-signup').addEventListener('click', function () {

    let name = document.getElementsByName('new-name')[0].value;
    let email = document.getElementsByName('new-email')[0].value;
    let password = document.getElementsByName('new-password')[0].value;

    // Validar se os campos estão preenchidos
    if (name === '' || email === '' || password === '') {
      $('#modalErrorMessage').html('Todos os campos são obrigatórios!');
      $('#errorModal').modal('show');
      return;
    }

    if (!validarEmail(email)) {
      $('#modalErrorMessage').html('E-mail inválido!');
      $('#errorModal').modal('show');
      return;
    }

    let url = '<%= serverBaseUrl %>';

    $.ajax({
      url: '/user',
      type: 'POST',
      contentType: 'application/json',
      data: JSON.stringify({
        name: name,
        email: email,
        password: password
      }),
      success: function (data) {
        name = document.getElementsByName('new-name')[0].value = '';
        email = document.getElementsByName('new-email')[0].value = '';
        password = document.getElementsByName('new-password')[0].value = '';
        document.getElementById('pills-home-tab').classList.add('active');
        document.getElementById('pills-home-tab').classList.remove('btl');
        document.getElementById('pills-home').classList.add('show');
        document.getElementById('pills-home').classList.add('active');
        document.getElementById('pills-home').classList.remove('fade');
        document.getElementById('pills-profile-tab').classList.remove('active');
        document.getElementById('pills-profile-tab').classList.add('btr');
        document.getElementById('pills-profile').classList.remove('show');
        document.getElementById('pills-profile').classList.remove('active');
        document.getElementById('pills-profile').classList.add('fade');

        // Exibir modal de sucesso
        $('#modalSuccessMessage').html('Usuário cadastrado com sucesso!');
        $('#successModal').modal('show');
      },
      error: function (data) {

        // Exibir modal de erro
        $('#modalErrorMessage').html(data.responseJSON.message);
        $('#errorModal').modal('show');
      }
    });
  });
</script>
</body>
</html>
